@CHARSET "UTF-8";

#addForm, .editProject, .deleteProject, .projectDrag, .deleteTask, .taskDrag, .sosaLink {
	cursor: pointer;
	color: blue;
	text-decoration: none;
	font-weight: normal;
}

.done {
	text-decoration: line-through;
	color: gray;
}

.before_work {
	background-color: none;
}

.working {
	background-color: yellow;
}

.after_work {
	background-color: #999999;
}
.req {
	color: red;
}
